name: Documentation
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - run: pip install pdoc
      - run: |
          mkdir -p docs
          pdoc --html lang_detection.py -o docs/
          pdoc --html statistics.py -o docs/
          pdoc --html web_app.py -o docs/
